{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    {% if exists %}
        <h1>Edit Page for {{ title }}</h1>
        <form action="{% url 'encyclopedia:edit' title=title %}" method="post" style="margin: 10px;">
            {% csrf_token %}
            {{ editForm }}
            <input type="submit" style="margin-top: 10px;">
        </form>
    {% else %}
        <h1>ERROR</h1>
        <h2>A page for "{{ title }}" was not found.</h2>
    {% endif %}
{% endblock %}